body {
  color: black;
}

.home {
  text-align: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  gap: 21px;
  margin: 12px;
}